{{template "header"}}
{{ template "sidebar" . }}
<div class="main-content container mt-4">
    <h1 class="mb-4">Welcome to the Admin Panel</h1>
    <div class="form">
        <form action="/admin/add_quiz" method="post" class="form">
            <input type="hidden" name="_csrf" value="{{ .csrf }}">

            <div class="mb-3">
                <input type="text" class="form-control" id="option1" name="title" placeholder="Enter Your Title"
                    required>
            </div>

            <button type="submit" class="btn btn-success btn-sm">Add</button>
        </form>
    </div>
</div>
{{ template "footer" . }}