{{template "header"}}
<style>
    body {
        background-color: #f8f9fa;
    }

    h1 {
        color: #343a40;
    }

    .list-group-item {
        background-color: #ffffff;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .list-group-item h2 {
        color: #007bff;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }
</style>
<main class="container my-5">
    <h1 class="text-center">Available Quizzes</h1>
    <section>
        <div class="row">
            <ul id="quiz-list" class="list-group">
            {{range .Quizzes}}
            <li class="list-group-item mb-4 p-4 shadow-sm">
                <div class="d-flex justify-content-between align-items-center">
                <h2 class="h5 my-3 text-primary font-weight-bold">{{.Title}}</h2>
                <span class="badge badge-info px-3 py-2">New</span>
                </div>
                <p class="text-muted">Test your knowledge with this quiz!</p>
                <div class="text-right">
                <a href="/{{.ID}}" class="btn btn-primary btn-lg my-3 px-4">Participate</a>
                </div>
            </li>
            {{end}}
            </ul>
        </div>
    </section>
</main>
{{template "footer.html" .}}