{{template "header" .}}

<section class="background-radial-gradient overflow-hidden container-fluid">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    The best offer <br />
                    <span style="color: hsl(218, 81%, 75%)">for your business</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Temporibus, expedita iusto veniam atque, magni tempora mollitia
                    dolorum consequatur nulla, neque debitis eos reprehenderit quasi
                    ab ipsum nisi dolorem modi. Quos?
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass pb-5">
                    <h3 class="card-title text-center py-3">
                        Login
                    </h3>
                    <div class="card-body px-4 py-5 px-md-5">
                        <form method="post" action="/user/login">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <input type="hidden" name="_csrf" value="{{ .csrf }}">


                            <!-- Email input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="email" id="form3Example3" name="email" class="form-control" />
                                <label class="form-label" for="form3Example3">Email address</label>
                            </div>

                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="password" id="form3Example4" name="password" class="form-control" />
                                <label class="form-label" for="form3Example4">Password</label>
                            </div>
                            <!-- Submit button -->
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-success btn-block mb-4 w-25">
                                Login
                            </button>
                        </form>
                        <p>Don't have an account? Register <a href="/user/register">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{template "footer" .}}